*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    margin: 20px 0;
}

.nav-barContainer{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
header{
    margin-bottom: 20px;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
} 
ul > li{
    margin: 0 10px;
    
}
a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

.creationDate{
    color: #444;
} 
article{
    margin-bottom: 30px;
}


.section-title{
    display: flex;
    width: 250px;
    height: 50px;
    font-size: 25px;
    background-color: #09A;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.card-noticias{
    width: 350px;
    padding: 20px;
    background-color: #EEEEEE;
    margin: 0 10px;
}

article > img{
    width: 300px;
    height: 300px;
    align-content: center;
    image-orientation: from-image;
    image-resolution: from-image;
}

.container{
    display: flex;
    flex-wrap: wrap;
}
h2{
    margin-bottom: 5px;
}